*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: hsl(217, 28%, 15%);
    padding: 20px;
    width: 100%;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.toggle{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.nav-ul{
    display: flex;
}

.nav-ul li a{
    display: block;
    font-size: 1.3rem;
    padding: 15px;
    color: #fff;
    margin: 3px;
}

.container{
    height: 50vh;
    width: 100%;
    background: url("/Img/pexels-g-cortez-6419779.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.title{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.loren{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.button{
    display: inline-flex;
    font-size: 1.3rem;
    color: #fff;
    padding: 20px 80px;
    background-color: blueviolet;
    border-radius: 8px;
}


@media (max-width: 900px){
    .title{
        font-size: 2.5rem;
    }

    .loren{
        font-size: 1.3rem;
    }
}

@media (max-width: 768px){
    .toggle{
        display: block;
    }

    .nav-ul{
        position: absolute;
        top: -200%;
        right: 0px;
        width: 70%;
        transition: .6s all;
    }

    .nav-ul.show{
        top: 100px;
        background-color: hsl(217, 28%, 15%);
        flex-direction: column;
        text-align: center;
    }

    .button{
        padding: 15px 60px;
    }

}

@media (max-width: 550px){
    .title{
        font-size: 2rem;
    }

    .loren{
        font-size: 1rem;
    }

    .button{
        padding: 10px 40px;
    }
}
